body {
    background: rgb(255, 255, 255)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(6, 160, 221);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labelss {
    font-size: 11px
}

.fas .fa-pencil-alt {
    justify-content: center;
    align-items: center;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.fa-pencil-alt:before {
    content: "\f303";
    position: relative;
    bottom: 18px;
    left: 22px;
    font-weight: bold;
}

.rounded-circle {
    border-radius: 10px!important;
    cursor: pointer;
}


/* img.rounded-circle.mt-5.content:hover{
    
} */


/* profile upload */


/* body {
    background: whitesmoke;
    font-family: "Open Sans", sans-serif;
} */

.containers {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0 20px;
    margin-top: 94px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

input {
    display: none;
}

.labels {
    display: inline-block;
    position: relative;
    left: 80%;
    top: 85%;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.label:hover::after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}