{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel=icon href={% static 'img/beaprologo.png' %} sizes="16x16" type="image/png">
			<link rel="manifest" href="/static/manifest.json">
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
            rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static './css/editprofile.css' %}">
        <title>Be A Pro | Profile</title>

    </head>

    <body>
        <div class="page-wrape">
            <div class="position-relative">
                <div class="hero-shape"></div>
                <!-- navbar section opening -->
                {% include 'main/navbar.html' %}
                <!-- navbar section closing -->

                <!-- editprofile -->

                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- <div class="d-flex flex-column align-items-center text-center p-3
                            py-5"><img class="rounded-circle mt-5 content"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU"><i
                            class="fas fa-pencil-alt"></i></div> -->
                            <div class="containers">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <h1>{{user.username}} 
                                        {% if account_verified %}
                                        <i class="fas fa-check-circle"></i>
                                        {% endif %}
                                        <small></small>
                                    </h1>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">

                                        </div>
                                        <div class="avatar-preview">
                                            <div
                                                id="imagePreview"
                                                style="background-image:url({{user.profile_image.url}});"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mask flex-center rgba-red-strong">
                                    <!-- <p class="white-text">Strong overlay</p> -->
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Profile Settings</h4>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <label class="labelss">FullName</label>{{s_form.fullname}}</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labelss">PhoneNumber</label>{{s_form.mobile}}</div>
                                        
                                        <div class="col-md-12">
                                                <label class="labelss">Profile Image</label>{{u_form.profile_image}}</div>
                                        <div class="col-md-12">
                                            <label class="labelss">Interested in</label>{{s_form.Interest}}</div>
                                        <div class="col-md-12">
                                            <label class="labelss">D-O-B</label>{{s_form.birth_date}}</div>
                                        <div class="col-md-12">
                                            <label class="labelss">Email ID</label>{{u_form.email}}</div>
                                        <div class="col-md-12">
                                            <label class="labelss">Colleage/School Name</label>{{s_form.collegeName}}</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label class="labelss">Country</label>{{s_form.country}}</div>
                                        <div class="col-md-6">
                                            <label class="labelss">State/Region</label>{{s_form.state}}</div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% include 'messages.html' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Begin -->
        <!-- Footer End -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
        <script src="{% static './js/editprofile.js' %}"></script>
        <script>
            $('.testimonials').owlCarousel({
                loop: false,
                margin: 20,
                nav: false,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    800: {
                        items: 2
                    }
                }
            })
        </script>
    </body>

</html>