{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=icon href={% static 'img/beaprologo.png' %} sizes="16x16" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/swallet.css' %}" />
    <link rel="manifest" href="/static/manifest.json">
    <title>{{user}} Wallet</title>
</head>

<body>

    <!-- navbar section opening -->
    {% include 'main/navbar.html' %}
    <!-- navbar section closing -->
    <article class="container  mbcontainer">
        <h1 class="main-heading">Subscribe</h1>
        <img src="{% static 'img/money-bill.svg' %}" class="money-bill" />
        <h3 class="current-coin">{{student.wallet_amount}}</h3>
        <p class="available-coin">Available coin</p>
        <br />
        <br />
        
        <form action="" method="POST">
          {% csrf_token %}

        <div class="plans">
            <img src="{% static 'img/coins.svg' %}" alt="" class="coins" />
            <p class="plan-text">100 (10 D)</p>
            <button type="submit" value="20" id="pay-btn" name="amount" class="plan-button">&#8377; 20</button>
        </div>
        <div class="plans">
            <img src="{% static 'img/coins.svg' %}" alt="" class="coins" />
            <p class="plan-text">300 (30 D)</p>
            <button type="submit" value="55" id="pay-btn" name="amount" class="plan-button">&#8377; 55</button>
        </div>
        <div class="plans">
            <img src="{% static 'img/coins.svg' %}" alt="" class="coins" />
            <p class="plan-text">900 (90 D)</p>
            <button type="submit" value="160" id="pay-btn" name="amount" class="plan-button">&#8377; 160</button>
        </div>
        <div class="plans">
            <img src="{% static 'img/coins.svg' %}" alt="" class="coins" />
            <p class="plan-text">1800 (180 D)</p>
            <button type="submit"  id="pay-btn" value="320" name="amount"  class="plan-button">&#8377; 320</button>
        </div>
        
      </form>
     
  {% if payment %}
  <form action="{% url 'payment-status' %}" method="POST">
      <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="{{razorpay_merchant_key}}"
      data-amount="{{ payment.amount }}"
      data-currency="INR"
      data-order_id="{{ payment.id }}"
      data-buttontext="Buy Coin"
      data-name="BEAPRO"
      data-description="BEAPRO COIN"
      data-image="{% static 'img/beaprologo.png' %}"
      data-prefill.name="{{ payment.name }}"
      data-prefill.email="{{user.email}}"
      data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endif %}
    </article>

    <!-- Table Begin -->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order No</th>
            <th scope="col">Amount</th>
            <th scope="col">Date&Time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for transactions in transaction %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{transactions.order_id}}</td>
            <td>{{transactions.amount}}</td>
            <td>{{transactions.created}}</td>
            {% if transactions.paid %}
            <td><i class="fas fa-check-circle"></i></td>
            {% else %}
            <td><i class="far fa-times-circle"></i></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-- Table ending -->

            <!-- Footer Begin -->
            {% include 'main/footer.html' %}
            <!-- Footer End -->
    <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>

     <!-- Razorpay's Javascript code. -->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



</body>

</html>