{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="'BEAPRO'Consult teachers profiles  and connect with them to achieve your learning goals.">
        <link rel=canonical href="https://beapro.tech/">
        <meta property=og:locale content="en_GB">
        <meta property=og:type content="website">
        <meta property=og:title content="BEAPRO :: Home">
        <meta property=og:description content="'BEAPRO'Consult teachers profiles  and connect with them to achieve your learning goals.">
        <meta property=og:url content="https://beapro.tech/">
        <meta property=og:site_name content="BEAPRO">
        <meta name="google-site-verification" content="-Q7MIAJ5STJ0rW-orIItrXMDQTSxJqcCKOvRV1Y-6R0" />
		<link rel="manifest" href="/static/manifest.json">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=icon href={% static 'img/beaprologo.png' %} sizes="16x16" type="image/png">
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
            rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static './css/style.css' %}">
        <title>Be A Pro | Home</title>

    </head>

    <body>
        <div class="page-wrape">
            <div class="position-relative">
                <div class="hero-shape"></div>

                <!-- navbar section opening -->
                {% include 'main/navbar.html' %}
                <!-- navbar section closing -->

                <div class="banner-bg pb-5 pt-md-5 position-relative">
                    <div class="container pb-5 pt-md-5">
                        <div class="row py-5 justify-content-between align-items-center">
                            <div class="col-lg-6 col-md-7 py-5">
                                <h1 class="font-weight-bold display-4 mb-4">Find the perfect teacher</h1>
                                <p class="lead mb-5">Students get to decide which tutor fits for them & Tutors
                                    get paid what you're worth!</p>
                                <a href="#contactus" class="btn btn-success">Contact Us &rarr;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tutors by subjects section opening -->
            <div class="position-relative" style="z-index:1;">
                <div class="container py-5">
                    <div class="row pt-5 justify-content-between text-center">
                        <div class="col-12">
                            <!-- <h6 class="text-warning mb-3">01. Tutors</h6> -->
                            <h2 class="font-weight-bold mb-5 pb-3">Choose our tutors by subjects.</h2>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Mathematics">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-calculator"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Mathematics</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=History">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-library"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">History</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Programming">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-code"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Programming</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Music">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-music"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Music</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Chemistry">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-package"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Chemistry</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Languages">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-users"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Languages</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Physics">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-bulb"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Physics</h6></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 pb-4">
                            <div class="p-4 bg-tutor rounded">
                                {% if user.is_authenticated %}
                                <a href="{% url 'tutorprofiles' %}?category=Other">
                                {% else %}
                                <a href="{% url 'student_account_login' %}">
                                {% endif %}
                                <i class="lni lni-layers"></i>
                                <h6 class="font-weight-bold mb-0 pt-3">Other</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tutors by subjects section closing -->

            <div class="container py-5">
                <div class="row justify-content-between py-5">
                    <div class="col-12 text-center">
                        <!-- <h6 class="text-warning mb-3">02.Process</h6> -->
                        <h2 class="font-weight-bold mb-5 pb-3">
                            Our Process</h2>
                    </div>
                    <div class="col-12 d-lg-flex ">
                        <div class="text-center">
                            <img src="{% static 'img/img-three.png' %}" class="img-fluid mb-2">
                            <h5 class="font-weight-bold mb-4">Find a tutor in select category</h5>
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
                                risus ac quam vulputate congue</p>
                        </div>
                        <div class="text-center d-none d-lg-block">
                            <img src="{% static 'img/arrow.png' %}">
                        </div>
                        <div class="text-center">
                            <img src="{% static 'img/img-two.png' %}" class="img-fluid mb-2">
                            <h5 class="font-weight-bold mb-4">Book & Schedule your meeting</h5>
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
                                risus ac quam vulputate congue.</p>
                        </div>
                        <div class="text-center d-none d-lg-block">
                            <img src="{% static 'img/arrow.png' %}">
                        </div>
                        <div class="text-center">
                            <img src="{% static 'img/img-one.png' %}" class="img-fluid mb-2">
                            <h5 class="font-weight-bold mb-4">Get knowledge together with the tutor</h5>
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
                                risus ac quam vulputate congue.</p>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a href="" class="btn btn-success">More Details &rarr;
                        </a>
                    </div>
                </div>
            </div>

            <div class="position-relative">
                <div class="container pb-5">
                    <div class="row">
                        <div class="col-12 text-center">
                            <!-- <h6 class="text-warning mb-3">03. Our Tutor</h6> -->
                    {% if user.is_authenticated %}
                            <h2 class="font-weight-bold mb-5 pb-3">Our Top Tutors
                            </h2>
                        </div>
                    </div>

                    <!-- Top tutor section -->
                    <div class="row testimonials owl-theme owl-carousel">
                        <!-- Tutor 1 -->
                    
                        {% for featured in featuredtutor %}
                        <div class="p-5">
                            <div class="d-flex align-items-end mb-5">
                                 <a  href="{% url 'viewprofile' featured.id %}">
                                <div class="img-radius">
                                    <img src="{{featured.user.profile_image.url}}">
                                </div></a>
                                <div class="ml-3"><img
                                    src="https://annedece.sirv.com/Images/5e5fd7c602ca7c29a9feb660_quote-icon.svg">
                                </div>
                            </div>
                            <p>{{featured.about_me|truncatechars:180}}</p>
                            <h5 class="font-weight-bold">{{featured.fullname}}</h5>
                            <p>{{featured.subject}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <!-- End of Top tutor section -->
                    <div class="shape-four"></div>
                </div>
            </div>
            <div class="container py-5">
                <!-- conctact us -->
                <div id="contactus">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm text-center">
                                <div class="col-12 text-center">
                                    <!-- <h6 class="text-warning mb-3">04. Connect Us</h6> -->
                                    <h2 class="font-weight-bold mb-5 pb-3">Contact Us
                                    </h2>
                                    <span class="line-bar">...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name = "name"
                                            value="{{user}}"
                                            class="form-control"
                                            id="exampleInputName"
                                            placeholder="Your Full Name...">
                                    </div>
                                    <div class="form-group">
                                        <input
                                            type="email"
                                            name = "email"
                                            value="{{user.email}}"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            aria-describedby="emailHelp"
                                            placeholder="Your Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input
                                            type="tel"
                                            name = "phone"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            aria-describedby="emailHelp"
                                            placeholder="Your Phone number...">
                                    </div>
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name = "subject"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            aria-describedby="emailHelp"
                                            placeholder="Your subject ...">
                                    </div>
                                    <!-- -->
                                    {% if user.is_authenticated %}
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    {% else %}
                                    <input type="hidden" name="user_id" value="Visitor">
                                    {% endif %}
                                    <div class="form-group">
                                        <!-- <textarea class="form-control" aria-label="With textarea"></textarea> -->
                                        <textarea
                                            class="form-control"
                                            rows="6"
                                            name = "message"
                                            placeholder="Your message to us"
                                            id="cf-message"
                                            name="cf-message"
                                            required=""></textarea>

                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h5>Address:
                                    <small class="text-muted">
                                        Thrissur Kerala 680561</small>
                                </h5>
                                <h5>Email:
                                    <small class="text-muted">support@beapro.tech</small>
                                </h5>
                                <h5>Contact:
                                    <small class="text-muted">+91 91234 56789 || +91 98765 43210</small>
                                </h5>

                                <div
                                    id="map-container-google-8"
                                    class="z-depth-1-half map-container-5"
                                    style="height: 300px">
                                    <iframe
                                        class="img-fluid contact-image"
                                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d125531.57793027832!2d76.15320980406085!3d10.511548708451224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3ba7ee15ed42d1bb%3A0x82e45aa016ca7db!2sThrissur%2C%20Kerala!3m2!1d10.527641599999999!2d76.2144349!5e0!3m2!1sen!2sin!4v1627673374997!5m2!1sen!2sin"
                                        width="600"
                                        height="450"
                                        style="border:0;"
                                        allowfullscreen=""
                                        loading="lazy"></iframe>

                                </div>

                                <div class="text-center">
                                    <!-- <img class="img-fluid contact-image" alt="Responsive image"
                                    src="https://csds.qld.edu.au/sdc/resources/images/find-us-map.jpg"
                                    class="rounded" alt="..."> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End of Contact Us -->
            </div>

            <!-- Footer Begin -->
            {% include 'main/footer.html' %}
            <!-- Footer End -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <!-- <script src="drop.js"></script> -->
            <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
            <script>
                $('.testimonials').owlCarousel({
                    loop: false,
                    margin: 20,
                    nav: false,
                    dots: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        800: {
                            items: 2
                        }
                    }
                })
            </script>
            <script>
 if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register("{% url 'service-worker.js' %}") //note that I am using the url template here
      .then(function(reg){
        console.log("Yes, it did.");
     }).catch(function(err) {
       console.log("No it didn't. This happened:", err)
        console.log("err.message:", err.message)
    });
 }
</script>
        </body>

    </html>