{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel=icon href={% static 'img/beaprologo.png' %} sizes="16x16" type="image/png">
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
            rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{% static './css/profilecard.css' %}">
        <title>Be A Pro | Profile</title>

    </head>

    <body>
        <div class="page-wrape">
            <div class="position-relative">
                <div class="hero-shape"></div>
                <!-- navbar section opening -->
                {% include 'main/navbar.html' %}
                <!-- navbar section closing -->
            </div>

            <div class="cards-list">

              <!-- begin of tutor profile -->
                {% for tutorlist in tutorprofile %}
                <div class="card 1">
                  <div class="card_image"> <img src="{{tutorlist.user.profile_image.url}}" /> </div>
                  <div class="card_title title-white">
                    <h3>{{tutorlist.fullname}} 
                      {% if tutorlist.verified %}
                      <i class="fas fa-check-circle verify-green"></i>
                      {% else %}
                      <i class="fas fa-check-circle verify-grey"></i>
                      {% endif %}
                    </h3>
                    <p class="title-black">{{tutorlist.subject}}</p>
                  </div>
                </div>
                {% endfor %}    
              <!-- ending of tutor profile -->
              </div>

        </div>




        <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
        <script src="{% static './js/editprofile.js' %}"></script>
        <script>
            $('.testimonials').owlCarousel({
                loop: false,
                margin: 20,
                nav: false,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    800: {
                        items: 2
                    }
                }
            })
        </script>
    </body>

</html>