{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=icon href={% static 'img/beaprologo.png' %} sizes="16x16" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/viewprofile.css' %}">
    <title>Be A Pro | Profile</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
	<link rel="manifest" href="/static/manifest.json">

</head>

<body>

<style type="text/css">
.rqstalignmobile {
    border-radius: 4px;
}
</style>    
    <div class="page-wrape">
        <div class="position-relative">
            <!-- <div class="hero-shape"></div> -->
            {% include 'main/navbar.html' %}
            <!-- navbar end -->
            <!-- viewprofile -->


                <div class="scroll-up-btn">
                    <i class="fas fa-angle-up"></i>
                </div>
              
                <!-- HOME SECTION -->




                <section class="home" id="home">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="text-1">Hello, my name is</div>
                            <div class="text-2"><span>{{tutorprofile.fullname|slice:'0:4'|join:'' }}</span>{{tutorprofile.fullname|slice:'4:8'|join:'' }}<span>{{tutorprofile.fullname|slice:'8:'|join:'' }}</span>
                                {% if tutorprofile.verified %}
                                <i class="fas fa-check-circle verify-green"></i>
                                {% else %}
                                <i class="fas fa-check-circle verify-grey"></i>
                                {% endif %}
                            </div>
                            <div class="text-3">And I'm a <span class="typing">{{tutorprofile.subject_name}} Teacher</span></div>
                            {% if is_connection == False and is_self == False %}
                                {% if request_sent == 0 %}
                                <button class="btn btn-primary rqstalign" id="id_send_conncetion_request_btn">
                                    Send Connection Request
                                </button>
                                {% elif request_sent == 1 %}
                                <button class="btn btn-danger rqstalign" id="id_cancel_conncetion_request_btn">
                                    Cancel Connection Request
                                </button>
                                {% else %}
                                <button class="btn btn-secondary rqstalign" id="id_unconnection_btn">
                                    Remove Connection
                                </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </section>

                <!-- ABOUT SECTION -->
                <section class="about" id="about">
                    <div class="max-width">
                        <h2 class="title">About me</h2>
                        <div class="about-content">
                            <div class="column left">
                                <img src="{{tutorprofile.user.profile_image.url}}" alt="">
                            </div>
                            <div class="column right">
                                <div class="text">I am {{tutorprofile.fullname}} and I'm a <span class="typing-2"></span></div>
                                <p> {{tutorprofile.about_me}} </p>
                                
                                <a class="fixed" href="">₹{{tutorprofile.amount}}/Hour</a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- SERVICE SECTION -->
                <section class="services" id="services">
                    <div class="max-width">
                        <h2 class="title">My services</h2>
                        <div class="serv-content">
                            <div class="card">
                                <div class="box">
                                    {% if tutorprofile.class_will_be_held_on == 'Online' %}
                                    <i class="fas fa-signal"></i>
                                    {% elif tutorprofile.class_will_be_held_on == 'Your Home' %}
                                    <i class="fas fa-house-user"></i>  
                                    {% elif tutorprofile.class_will_be_held_on == 'At my home' %}
                                    <i class="fas fa-laptop-house"></i>
                                    {% endif %}
                                    <div class="text">Class will be held on</div>
                                    <p>{{tutorprofile.class_will_be_held_on}}</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="box">
                                    {% if tutorprofile.individual  %}
                                    <i class="fas fa-user-shield"></i>
                                    {% elif tutorprofile.group %}
                                    <i class="fas fa-users"></i>
                                    {% else %}
                                    <i class="fas fa-user-friends"></i>
                                    {% endif %}
                                    <div class="text">Classes Offerd</div>
                                    {% if tutorprofile.individual %}

                                    <p>Individual</p>

                                    {% elif tutorprofile.group %}

                                    <p>Group</p>

                                    {% else %}

                                    <p>Both Group & Individual</p>

                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="box">
                                    <i class="fas fa-stopwatch"></i>
                                    <div class="text">Response Time</div>
                                    <p>{{tutorprofile.response_time}} hr<i class="fas fa-bolt"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>

            <!-- SKILLS SECTION -->
                       <section class="skills" id="skills">
                        <div class="max-width">
                            <h2 class="title">My skills</h2>
                            <div class="skills-content">
                                <div class="column left">
                                    <div class="text">My skills & experiences.</div>
                                    <p>{{tutorprofile.experience}}</p><br>
                                    <p>{{tutorprofile.skills}}</p>
                                </div>
                                <div class="column right">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video width="500" height="500" autoplay controls loop muted>
                                        <source   class="embed-responsive-item"  src="{{tutorprofile.promo_video.url}}" ></source>
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <div class="navbars">
                        <a href="#home" class="active">₹{{tutorprofile.amount}}/Hour</a>
                        {% if is_connection == False and is_self == False %}
                            {% if request_sent == 0 %}
                            <button class="btn btn-primary rqstalignmobile" id="id_send_conncetion_request_btn1">
                                Send Connection Request
                            </button>
                            {% elif request_sent == 1 %}
                            <button class="btn btn-danger rqstalignmobile" id="id_cancel_conncetion_request_btn1">
                                Cancel Connection Request
                            </button>
                            {% else %}
                            <button class="btn btn-secondary rqstalignmobile" id="id_unconnection_btn1">
                                Remove Connection
                            </button>
                            {% endif %}
                        {% endif %}

                    </div>
        
            <!-- FOOTER SECTION -->
            {% include 'main/footer.html' %}
            </div>
            <!-- Optional JavaScript -->


                
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="{% static './js/viewprofile.js' %}"></script>
            <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
            <script type="text/javascript">

                // called from base_js.html
                //preloadImage("{{profile_image|safe}}", 'id_profile_image')
            
                function onConncetionRequestSent(){
                    location.reload();
                }
                function onConncetionRequestCancelled(){
                    location.reload();
                }
                function onConncetionRemoved(){
                    location.reload();
                }

                var sendConncetionRequestBtn = document.getElementById("id_send_conncetion_request_btn")
                if (sendConncetionRequestBtn != null){
                    sendConncetionRequestBtn.addEventListener("click", function(){
                        sendConncetionRequest({{tutorprofile.user.id}}, onConncetionRequestSent)
                    })
                }

                var cancelConncetionRequestBtn = document.getElementById("id_cancel_conncetion_request_btn")
                if(cancelConncetionRequestBtn != null){
                    cancelConncetionRequestBtn.addEventListener("click", function(){
                        cancelconnectionRequest({{tutorprofile.user.id}}, onConncetionRequestCancelled)
                    })
                }

                var removeConncetionBtn = document.getElementById("id_unconnection_btn")
                if (removeConncetionBtn != null){
                    removeConncetionBtn.addEventListener("click", function(){
                    removeConnection("{{tutorprofile.user.id}}", onConncetionRemoved)
                    })
                }


                var sendConncetionRequestBtn = document.getElementById("id_send_conncetion_request_btn1")
                if (sendConncetionRequestBtn != null){
                    sendConncetionRequestBtn.addEventListener("click", function(){
                        sendConncetionRequest({{tutorprofile.user.id}}, onConncetionRequestSent)
                    })
                }

                var cancelConncetionRequestBtn = document.getElementById("id_cancel_conncetion_request_btn1")
                if(cancelConncetionRequestBtn != null){
                    cancelConncetionRequestBtn.addEventListener("click", function(){
                        cancelconnectionRequest({{tutorprofile.user.id}}, onConncetionRequestCancelled)
                    })
                }

                var removeConncetionBtn = document.getElementById("id_unconnection_btn1")
                if (removeConncetionBtn != null){
                    removeConncetionBtn.addEventListener("click", function(){
                    removeConnection("{{tutorprofile.user.id}}", onConncetionRemoved)
                    })
                }
            </script>
            
            {% include 'main/send_connection_request.html' %}

            {% include 'main/remove_connection.html' %}
            {% include 'main/cancel_connection_request.html' %}
            <script>
                $('.testimonials').owlCarousel({
                    loop: false,
                    margin: 20,
                    nav: false,
                    dots: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        800: {
                            items: 2
                        }
                    }
                })
            </script>


        </div>
    </div>
</body>

</html>