{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link
            rel="icon"
            href={% static 'img/beaprologo.png' %}
            sizes="16x16"
            type="image/png">
        <!-- Bootstrap CSS -->
        <link rel="manifest" href="/static/manifest.json">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
            rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{% static './css/tutoreditprofile.css' %}">
        <title>Be A Pro | Profile</title>

    </head>

    <div class="page-wrape">
        <div class="position-relative">
            <div class="hero-shape"></div>
            <!-- navbar section opening -->
            {% include 'main/navbar.html' %}
            <!-- navbar section closing -->

            <!-- editprofile -->
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="containers">
                         <form action="" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                            <h1>{{user.username}} 
                                {% if account_verified %}
                                <i class="fas fa-check-circle"></i>
                                {% endif %}
                                <small></small>
                            </h1>
                            <div class="avatar-upload">
                                <div class="avatar-edit"></div>
                                <div class="avatar-preview">
                                    <div
                                        id="imagePreview"
                                        style="background-image:url({{user.profile_image.url}});"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mask flex-center rgba-red-strong">
                            <!-- <p class="white-text">Strong overlay</p> -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Profile Settings</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <label class="labelss">FullName</label>{{t_form.fullname}}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labelss">PhoneNumber</label>{{t_form.mobile}}</div>
                                <div class="col-md-12">
                                    <label class="labelss">Address</label>{{t_form.address}}</div>
                                <div class="col-md-12">
                                    <label class="labelss">D-O-B</label>{{t_form.birth_date}}</div>
                                <div class="col-md-12">
                                    <label class="labelss">Email ID</label>{{u_form.email}}</div>
                                <div class="col-md-12">
                                    <label class="labelss">Colleage/School Name</label>{{t_form.collegeName}}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label class="labelss">Country</label>{{t_form.country}}</div>
                                <div class="col-md-6">
                                    <label class="labelss">State/Region</label>{{t_form.state}}</div>
                            </div>
                            <!-- <div class="mt-5 text-center"><button class="btn btn-primary
                            profile-button" type="button">Save Profile</button></div> -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Education and Experiance</h4>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <label class="labelss">About Me</label>
                                    {{t_form.about_me}}
                                </div>
                                <div class="col-md-12">
                                    <label class="labelss">Experiance</label>
                                    {{t_form.experience}}
                                </div>
                                <div class="col-md-12">
                                    <label class="labelss">Subjects</label>
                                    <div class="select">
                                        {{t_form.subject}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Regarding classes</h4>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <label class="labelss">Classes Offerd</label>
                                    <div class="form-check">
                                        {{t_form.individual}}
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Induvidual
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        {{t_form.group}}
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Group</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="labelss">Classes will be held on
                                    </label>
                                    <div class="form-check form-check-inline">
                                        {{t_form.class_will_be_held_on}}
                                        
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="labelss">Image Upload
                                    </label>
                                    <div class="form-group">
                                        <div class="upload-btn-wrapper">
                                            <button class="btntut">Upload Your Image</button>
                                            {{u_form.profile_image}}
                                          </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <label class="labelss">Amount P/H</label>{{t_form.amount}}</div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Uploads</h4>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <label class="labelss">Your C V
                                    </label>
                                    <div class="form-group">
                                        <div class="upload-btn-wrapper">
                                            <button class="btntut">Upload Your CV</button>
                                            {{t_form.your_cv}}
                                          </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="labelss">Your Highest Qualification
                                    </label>{{t_form.qualification}}</div>
                                <div class="col-md-12">
                                    <label class="labelss">Upload
                                    </label>
                                    <div class="form-group">
                                        <div class="upload-btn-wrapper">
                                            <button class="btntut">Upload Your Education Cert</button>
                                            {{t_form.qualification_cert}}
                                          </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="labelss">Socilal Profile</label>{{t_form.social_profile}}</div>

                                    <div class="col-md-12">
                                        <label class="labelss">Upload Video
                                        </label>
                                        <div class="form-group">
                                            <div class="upload-btn-wrapper">
                                                <button class="btntut">Upload Your Promo Video</button>
                                                {{t_form.promo_video}}
                                              </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </form>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</div>
</div>

<!-- footer section opening -->

<!-- footer section closing -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/e655379602.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="js/editprofile.js"></script>
    <script>
        $('.testimonials').owlCarousel({
            loop: false,
            margin: 20,
            nav: false,
            dots: true,
            responsive: {
                0: {
                    items: 1
                },
                800: {
                    items: 2
                }
            }
        })
    </script>
</body>

</html>